@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";


.question {
    @include make-row();
    padding: 20px 0 20px 0;
}

.stats {
    @include make-xs-column(1);
}
.answer-count {

}

.question-summary, .answer-content {
    @include make-xs-column(11);
}
.question-summary h3 {
    margin-top: 0;
}

.question-meta, .answer-meta  {
    @include make-row();
    padding: 10px 0 10px 0;
}

.tags {
    @include make-xs-column(9);
}
.tags a {
    display: inline-block;
    padding: 5px;
    background-color: #eee;
}
.tags a:hover {
    background-color: #ddd;
    text-decoration: none;
}

.gravatar {
    display: block;
    padding: 0 10px 0 0;
    float: left;
}
.author-info {
    padding: 10px 0 10px;
    @include make-xs-column(3);
    background-color: #eee;
}

.answer-meta .author-info {
    @include make-xs-column(3);
    @include make-xs-column-offset(9);
}

.answer {
    @include make-row();

}
.comments {
    margin-bottom: 10px;
}
.comments > div {
    border-bottom: 1px dotted #ddd;
    border-top: 1px dotted #ddd;
    padding: 5px 0 5px;
}

